= form.input :title, error: false
= form.input :description, error: false
= form.input :content, error: false
= form.input :answer, error: false
= form.button :submit, {class: 'btn btn-primary btn-large'}
