/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login_form,.register_form, .question_form, .quiz_welcome {
  border: 1px solid #e7e7e7;
  background-color: #F9F9F9;
  display: block;
  margin: 0 auto;
  width: 500px;
  padding-bottom: 10px;
  margin-top: 50px;

  a {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    font-size: 15px;
  }

  a:hover {
      background-color: #f9f9f9;
      color: #c0c0c0;
  }

  label:first-of-type {
    margin-top: 20px;
  }
}

.question_form {
  width: 500px;
}

table.table {
  font-size: 13.5px;
  font-family: Mono;
  border: none;

  thead {
    background-color: #efefef;
  }
  th, td {
    max-width: 250px;
  }
  a {
    text-decoration: none;
  }
}

.add_questions_table {
  width: 30%;
  max-width: 50%;

  input[type='checkbox'] {
    margin: 10px 10px 0 10px;
  }
}

.btn {
  margin-left: 10px;
  margin-top: 10px;
}

p, hr {
  font-size: 13.5px;
  font-family: Mono;
  margin: 0 auto;
  margin-top: 10px;
  width: 30%;
}

.show_page_links {
  text-decoration: none;
  font-size: 16px;
  margin: 0 auto;
  width: 100px;
  span {
    display: inline-block;
    width: 10px;
  }
}

.user_quizzes_table {
  max-width: 40%;
}

.alert {
  ul {
    list-style-type: none;
  }
}
