// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a.glyphicon {
  font-weight: bold;
  color: #07AE87;
  font-size: 35px;
}

a.glyphicon:hover {
  color: #07AE87;
}

.list-questions {
  list-style-type: none;
  li {
    display: inline;
  }
}