// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div {
  text-align: center;
}

.begin_quiz {
  display: block;
  width: 20%;
  margin: 0 auto;
}
.begin_quiz:hover{
  background-color: #428bca;
}